<div id="filter-box">
  <input placeholder="Filter"/>
</div>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
  
     <!-- Name Column -->
     <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ip</th>
      <td mat-cell *matCellDef="let row">{{row.ip}}</td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="clienUserName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>clienUserName</th>
      <td mat-cell *matCellDef="let row">{{row.clienUserName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="methd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Method</th>
      <td mat-cell *matCellDef="let row">{{row.methd}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="reqMethd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rek Method</th>
      <td mat-cell *matCellDef="let row">{{row.reqMethd}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let row">{{row.duration}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TimeStamp</th>
      <td mat-cell *matCellDef="let row">{{row.timestamp}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
